<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %> - Javascript</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Express-ejs/public/app.css">
</head>
<body>
    <% if(data.img) { %>
        <img src="<%= data.img %>" alt="<%= data.title %>" class="img-fluid mb-3"/>
    <% } %>
    <h1>Tag: <%= data.title %></h1>
    <h3><%= data.description %></h3>
    <p>Followers: <%= data.followers %></p>
    <hr>

    <% if(data.posts && data.posts.length > 0) { %>
        <% for(let post of data.posts) { %>
            <article class="mb-3">
                <h4><%= post.title %></h4>
                <p>Author: <%= post.author %></p>
            </article>
        <% } %>
    <% } else { %>
        <p>No posts available.</p>
    <% } %>

    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>
